@using BestFood.Core.ViewModels.Cart
@{
}

@model IEnumerable<CartItemViewModel>

<div class="row">
	<div class="col-12">
		<div class="invoice p-3 mb-3">


			<div class="row">
				<div class="col-12 table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Qty</th>
								<th>Product</th>
								<th>Ingredient</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody id="table-body">
							@await Html.PartialAsync("_ShoppingCartItemsPartial", Model)
						</tbody>
					</table>
				</div>

			</div>

			<div class="row">

				<div class="col-6">
					<textarea placeholder="E.g. without tomatoes and onion on Cheese Burger.." style="width:100%"></textarea>
				</div>

				<div class="col-6 address-div">
					@*<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<th style="width:30%">Address:</th>
									<td><input placeholder="Enter address.." /></td>
								</tr>
							</tbody>
						</table>
					</div>*@
					<h4>Address</h4>
					<input placeholder="Iordan Iovkov 8.."/>
				</div>

			</div>


			<div class="row no-print">
				<div class="col-12">
					<button type="button" class="btn btn-success float-right"> 
						Submit Order
					</button>
					<button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
						Clear Cart
					</button>
				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts{
<script type="text/javascript">
		$(document).on("click", ".increase-button",function () {
	 $.ajax({
					url: "/ShoppingCart/IncreaseQuantity/"+$(this).val(),
					success: function (result) {
						$("#table-body").html("");
						document.getElementById("table-body").insertAdjacentHTML("afterbegin", result);
					}
				});
	});

	$(document).on("click", ".decrease-button",function () {
	 $.ajax({
					url: "/ShoppingCart/DecreaseQuantity/"+$(this).val(),
					success: function (result) {
						$("#table-body").html("");
						document.getElementById("table-body").insertAdjacentHTML("afterbegin", result);
					}
				});
	});
</script>
}

@section Head{
	<link rel="stylesheet" href="~/css/myCart.css" />
}