.categoryImage {
    height: 200px;
    object-fit: cover;
}


.categoryName {
    color: white;
    background-color: #454545;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    padding: 5px;
}

.card-header {
    border-top: 5px solid #454545;
    background-color: white !important;
}

.card-title {
    font-size: 1.5em;
    color: #454545;
}

.create-category-form {
    margin: auto;
    width: 50%;
    text-align: center;
}

.card-title {
    font-size:1.5em;
}

.create-button {
    background-color: #454545;
    border: none;
    width: 30%;
}

    .create-button:hover {
        background-color: black;
    }

.add-image {
    width: 60%;
    margin-left:20%;
    margin-top:5%;
}

.admin-buttons {
    margin-bottom:10px;
}

    .admin-buttons .btn {
        width: 90%;
        margin-left:5%;
    }
