textarea {
    height: 100px;
}

.address-div {
    text-align: center;
}

    .address-div input {
        width: 100%;
        padding-left: 14px;
        border: none;
        border-bottom: 2px solid #ECECEC;
    }

        .address-div input:focus {
            width: 100%;
            padding-left: 14px;
            border: none;
            border-bottom: 2px solid #ECECEC;
        }
