html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


.home-image {
    width: 100%;
}

.form-floating {
    margin-bottom: 15px;
}

.content-header {
    text-align: center ;
}

.content-wrapper {
    /*background-image: url(https://files.wallpaperpass.com/2019/10/food%20wallpaper%20198%20-%201600x1000.jpg);*/
    background-size: 100%;
    background-repeat:round;
    image-
}
