@{
    ViewData["Title"] = "Admin Area";
}

<div class="text-center">
    <h3 class="display-8">Welcome! All admin actions are located in the menu.</h3>
    <img class="home-image" src = "https://wallpapercave.com/wp/wp1929358.jpg"/>
</div>
