@{
}



<nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<!-- Add icons to the links using the .nav-icon class
			 with font-awesome or any other icon font library -->
		<li class="nav-item">
			<a href="/" class="nav-link">
				<i class="nav-icon fas fa-home"></i>
				<p>
					Home
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="nav-icon fas fa-hamburger"></i>
				<p>
					Categories
				</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="/Category/All" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>All Categories</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/Category/Create" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Create Category</p>
					</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="nav-icon fas fa-bacon"></i>
				<p>
					Ingredients
				</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="/admin/Ingredient/All" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>All Ingredients</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/Ingredient/Create" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Create Ingredient</p>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>