@using BestFood.Core.ViewModels.Product

@{
}

<label>Multiple</label>
@if (ViewBag.ProductIngredients != null)
{
	@foreach (var ing in ViewBag.ProductIngredients)
	{
		<div class="form-check">
			<input type="checkbox" value="@ing.IngredientId" checked="@ing.IsSelected" name="IngredientIds" />
			<label class="form-check-label">@ing.IngredientName</label>
		</div>
	}
}

<p>	@DateTime.Now</p>




