@using BestFood.Core.ViewModels.Product

@{
}

@model IEnumerable<ProductIngredientViewModel>

<label>Multiple</label>
@if (Model != null)
{
	@foreach (var ing in Model)
	{
		<div class="form-check">
			<input type="checkbox" value="@ing.IngredientId" checked="@ing.IsSelected" name="IngredientIds" />
			<label class="form-check-label">@ing.IngredientName</label>
		</div>
	}
}

<p>	@DateTime.Now</p>




