@using BestFood.Core.ViewModels.Ingredient
@using BestFood.Infrastructure.Enums
 @{
	ViewData["Title"] = "All Ingredients";
}

@model IEnumerable<IngredientViewModel>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Sauces</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0" style="height: 300px;">
				<table class="table table-head-fixed text-nowrap">
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var ing in Model)
						{
							if (ing.Type == IngredientType.Sauce)
							{
								<tr>
									<td>@ing.Name</td>
									<td>@ing.Type</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Sauces</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0" style="height: 300px;">
				<table class="table table-head-fixed text-nowrap">
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var ing in Model)
						{
							if (ing.Type == IngredientType.Vegetable)
							{
								<tr>
									<td>@ing.Name</td>
									<td>@ing.Type</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>