@using BestFood.Core.ViewModels.User
@model EditUserViewModel

<div class="row">
	<div class="col-6">
		<div class="background">
			<div class="card card-primary create-category-form">
				<div class="card-header">
					<h3 class="card-title">Edit User</h3>
				</div>
				<form method="post">
					<div class="card-body">
						<input type="hidden" name="Id" value="@Model.Id" />
						<div class="form-group">
							<label for="FirstName">First Name</label>
							<input value="@Model.FirstName" type="text" class="form-control" name="FirstName">
							<span asp-validation-for="FirstName" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="LastName">Last Name</label>
							<input value="@Model.LastName" type="text" class="form-control" name="LastName">
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-primary create-button">Save Changes</button>
					</div>
				</form>
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
