@using BestFood.Core.ViewModels.User
@{
	ViewData["Title"] = "User Roles";
}

@model UserRolesViewModel


<div class="row">
	<div class="col-6">
		<div class="background">
			<div class="card card-primary create-category-form">
				<div class="card-header">
					<h3 class="card-title">Edit User</h3>
				</div>
				<form method="post">
					<div class="card-body">
						<input type="hidden" name="Id" value="@Model.UserId" />
						<div class="form-group">
							@Html.DisplayFor(m=>m.Name)
						</div>
						<div class="form-group">
							<label>User Roles</label>
							<select asp-for="RoleIds" class="select2bs4" multiple="multiple" data-placeholder="Selects a State"
									style="width: 100%;">
								@foreach(var role in (IEnumerable<SelectListItem>)ViewBag.RoleItems)
								{
									<option selected=@role.Selected value="@role.Value">@role.Text</option>
								}
							</select>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-primary create-button">Save Changes</button>
					</div>
				</form>
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>