@using BestFood.Core.Constants
@using BestFood.Core.ViewModels.Category
@{
	ViewData["Title"] = "All Categories";
}
@model IEnumerable<CategoryViewModel>

<div class="card card-success">
	<div class="card-body">
		<div class="row">
			@foreach (var category in Model)
			{
				<div class="col-md-12 col-lg-6 col-xl-4">
					<div class="card mb-2 bg-gradient-dark">
						<a href="/Product/All/@category.Id">
							<img class="card-img-top categoryImage" src=@category.Image alt="Dist Photo 1">
							<h3 class="categoryName">@category.Name</h3>
						</a>
						@if (User.IsInRole(UserConstants.Roles.Administrator))
						{
							<div class="admin-buttons">
								<a href="/admin/Category/Edit/@category.Id" class="btn btn-block btn-info btn-sm">Edit</a>
								<a href="/admin/Category/Delete/@category.Id" class="btn btn-block btn-danger btn-sm">Delete</a>
							</div>
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>

@section Head{
<link rel="stylesheet" href="/css/categoryViews.css" />
}