@using BestFood.Core.ViewModels.Category
@{
	ViewData["Title"] = "Edit Category";
}

@model EditCategoryViewModel
<div class="background">
	<!-- general form elements -->
	<div class="card card-primary create-category-form">
		<div class="card-header">
			<h3 class="card-title">Category</h3>
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<form method="post">
			@Html.HiddenFor(model => model.Id)
			<div class="card-body">
				<div class="form-group">
					<label asp-for="Name"></label>
					<input asp-for="Name" type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Enter name"/>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Image"></label>
					<input asp-for="Image" type="text" name="Image" value="@Model.Image" class="form-control" placeholder="Enter image link"/>
					<span asp-validation-for="Image" class="text-danger"></span>
				</div>
			</div>
			<!-- /.card-body -->

			<div class="card-footer">
				<button type="submit" class="btn btn-primary create-button">Save Changes</button>
			</div>
		</form>
	</div>
	<!-- /.card -->
</div>
@section Head{
<link rel="stylesheet" href="/css/categoryViews.css" />
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

